<div class="row">
  <div class="column">
    <div class="card">
      <h3>Expense / Budget</h3>
      <p><app-total-expenses></app-total-expenses></p>
     
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>Enter Expenses</h3>
      <p><app-expense-form></app-expense-form></p>
      
    </div>
  </div>
</div>
  <br>
  <div class="row">
    <div class="column">
      <div class="card">
        <h3>Expense List</h3>
        <p><app-expense-list></app-expense-list></p>
       
      </div>
    </div>
  
  </div>

